<div class="list-container">
  <div class="listado-container">
    <h4>Proyección y análisis de clientes</h4>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Edad media defunción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataClientes">
        <th>{{item.nombre}}</th>
        <td>{{item.apellido}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.fechaNacimiento | date: 'MMM d, y'}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
